html, body {
  height: 100%;
}
#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;

  padding: 5% 0; /* Temp: Just spacing. */
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 15px;
  overflow: scroll;
}

#map-page {
  left: 0;
}

#nearest-page {
  top: -100%;
  background-color: #00214F;
  color: white;
}

#about-page {
  top: -200%;
  background-color: #00716C;
}

#filter-page {
  right: -100%;
  background-color: #DDB700;
}

#wheel-page {
  left: -100%;
  background-color: #A1A5FF;
}

.toggle-about {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  z-index: 9999999999;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

#site-wrapper.show-wheel #site-canvas {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

#site-wrapper.show-filter #site-canvas {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#site-wrapper.show-about #site-canvas {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
}

#site-wrapper.show-nearest #site-canvas {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

