<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {{content}}
    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/leaflet.knn.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/filter-bars.js"></script>
    <script src="js/navigation.js"></script>
    <script src="js/map.js"></script>
  </body>
</html>
